Repository leapfrogtechnology/datamegh, pull requests merged in 2020-03, with the labels that each got.

#19 Setup API framework and create AWS storage s3 api module
  .env.example
  .gitignore
  datamegh/__init__.py
  datamegh/api/__init__.py
  datamegh/api/common/__init__.py
  datamegh/api/common/aws.py
  datamegh/api/db.py
  datamegh/api/http.py
  datamegh/api/queue/__init__.py
  datamegh/api/secrets/__init__.py
  datamegh/api/storage/__init__.py
  datamegh/api/storage/s3.py
  setup.py
  tests/api/storage/sample/test_file.json
  tests/api/storage/test_s3.py
Labels: api, storage

#32 Bump base image to use laudio/pyodbc:1.0.33
  Dockerfile
Labels: chore

#31 Setup db and logging api modules
  Makefile
  datamegh/api/db.py
  datamegh/api/logging.py
  datamegh/api/storage/s3.py
  datamegh/util/db.py
  tests/api/test_api_db.py
  tests/util/test_db.py
Labels: api, db
